
@{
    ViewData["Title"] = "AccesoDenegado";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h1 class="text-danger">No tienes permiso para acceder a esta session</h1>

<h2> Puedes iniciar session en el siguiente enlace <a asp-action="Login" asp-controller="User"> Login </a> </h2> 

